body {
    background-color: #d4453b;
    background-image: url(./images/BackMush.webp);
    background-blend-mode: multiply;
    background-size: cover;
    backdrop-filter: blur(10px);
    height:100%;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
  
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}

#allheader {
    height: 300px;
    font-family: 'Super Mario 256', sans-serif;
}
#allheader h1{
    margin:0;
}
#header {
    background-color: #d41f13;
    height: 60%;
    bottom: 0;
    position:relative;
    border: white 4px outset;
    background-image: url(./images/todd.webp), url(./images/HistoryCollage.jpg);
    background-repeat: no-repeat, repeat;
    background-blend-mode: normal, multiply;
    background-size: 300px 300px, auto;
    background-position: 40%, center;
}
#header a{
    position:absolute;
    bottom: 10%;
    text-align: center;
    width: 40%;
    height: 17%;
    margin-right: 29.75%;
    margin-left: 30.25%;
    padding: .5% 0;
    color: white;
    -webkit-text-stroke: 2px black;
    background-color: #750b06;
    border: 3px outset white;
    margin-top: 1%;
}
#header a:hover{
    background-color: #5e0904;
}
#header a:active{
    color: lightgray;
    border: 3px white inset;
}
#navbar {
    background-color: #1121d1;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
}
.navbtn {
    width: 33.33%;
    height: 100%;
    font-family: 'Super Mario 256', sans-serif;
    font-size: 25px;
    color: white;
    background-color: #0e1cb5;
    border: white 4px outset;
    transition-duration: 0.1s;
    -webkit-text-stroke: 1.5px black;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .25rem;
}
.navbtn:active {
    border: 4px white inset;
    color: lightgray;
}
.navbtn:hover {
    background-color: #0d199e;
}
  
.testgen {
    background-color: #ad2a21;
    text-align: center;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 3px outset white;
}
.testgen h1{
    -webkit-text-stroke: 1.5px white;
    font-family: 'Super Mario 256', sans-serif;
    margin-top: 5px;
    font-size: 45px;
    margin-bottom: 0px;
}
label{
    -webkit-text-stroke: 1.5px white;
    font-family: 'Super Mario 256', sans-serif;
    margin-top: 5px;
    font-size: 25px;
    letter-spacing: .25rem;
}
select{
    font-size: 25px;
    font-family: 'Super Mario 256', sans-serif;
    -webkit-text-stroke: 1px white;
    letter-spacing: .25rem;;
    text-align: center;
    margin-top: 5px;
}
.testgen input{
    font-size: 25px;
    font-family: 'Super Mario 256', sans-serif;
    -webkit-text-stroke: 1px white;
    background-color: #750b06;
    color: white;
    letter-spacing: .25rem;;
    text-align: center;
    margin-top: 5px;
    border: 2px solid white;
}

.questions{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;    
    margin-top: 30px;
    border: 3px white;
    border-style: outset;
    letter-spacing: .3rem;
    font-size: 20px;
    -webkit-text-stroke: 1.5px white;
    font-family: 'Super Mario 256', sans-serif;
    overflow: hidden;
}
.answerleft {
font-size: 25px;
width:49%;
text-align: center;
float: left;
}
.answerright{
font-size: 25px;
width:49%;
text-align: center;
float: right;
}
.answerleft:hover {
    background-color: #852019;
    border: 2px white outset;
}
.answerright:hover {
    background-color: #852019;
    border: 2px white outset;
}
.answerleft:active {
    border: 2px white inset;
    background-color: #621711;
}
.answerright:active {
    border: 2px white inset;
    background-color: #621711;
}
input[type="radio"] {
    accent-color: black;
    transform: scale(1);
}
#testsubmit {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
    border: 4px white outset;
}
#testsubmit:hover {
    background-color: #670904 ;
}
#testsubmit:active {
    color: lightgray;
    border: 4px white inset;
}
.column-three {
    float: top;
    overflow: hidden;
}
.column-four {
    float:bottom;
    overflow: hidden;
}

.leaderboard {
    background-color: #ad2a21;
    text-align: center;
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid white;
}
.leaderboard h1{
    -webkit-text-stroke: 1.5px white;
    font-family: 'Super Mario 256', sans-serif;
    margin-top: 10px;
    letter-spacing: .55rem;
    font-size: 45px;
    margin-bottom: 0px;
    /* text-decoration: underline; */
}
.leaderboard-scores{
    width: 100%;
    justify-content: center;
    letter-spacing: .25rem;
    table-layout: fixed;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    border-collapse: collapse;

}
#leaderboard-categories{
    width:100%;
    text-align: center;
    font-family: 'Super Mario 256', sans-serif;
    font-size: 20px;
    color:black;
    -webkit-text-stroke: 1.5px white;
    overflow: hidden;
    border-bottom: 2px white solid;
    margin-bottom: 10px;

}
.userData{
    font-family: 'Super Mario 256', sans-serif;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 20px;
    margin-bottom: 15px;
    height:40px;
    border: 2px white outset;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
}
.rankno{
    font-size: 30px;
}


.credits {
    background-color: #ad2a21;
    text-align: center;
    width: 49%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid white;
    
}
.credits h1{
    -webkit-text-stroke: 1.5px white;
    font-family: 'Super Mario 256', sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
}
.credits h2{
    -webkit-text-stroke: 2.5px black;
    letter-spacing: .25rem;
    color:white;
    font-size: 27px;
    font-family: 'Super Mario 256', sans-serif;
}
.credits h3{
    font-family: 'Gill Sans', sans-serif;
    background-color: #540306;
    color:white;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px white solid;
}

br{
    height: 30px;
}
hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}
